<div class="card rounded-lg mb-4">
  <div class="card-header border-light user-identity user-img mb-10">
    <img src="{{user.user_avatar}}" class="img-fluid user-img" alt="" />
    <h5 class="mt-2">{{user.username}}</h5>
  </div>
  <div class="card-body">
    <div class="row pl-1 pr-1">
      {{#if post_links}}
        <div class="col-md-4 pl-3 pr-3 ">
<iframe width="200" src="https://www.youtube.com/embed/{{post_links}}" title="Gandalf Sax Guy 10 Hours HD" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
      {{/if}}
      {{#if post_image}}
        <img/>
      {{/if}}

    <div class="card-content col-md-8">
      <p class="pl-2 pr-2">{{post_body}}
      </p>
      <div class="button-options">
        <button
          type="button"
          class="btn-group btn-upvote-comment btn btn-outline-success"
        ><i class="fa-solid fa-circle-arrow-up"> </i></button>
        <button
          type="button"
          class="btn-group btn btn-outline disabled"
        >{{votes}}</button>
        <button
          type="button"
          class="btn-group btn-downvote-comment btn btn-outline-danger"
        ><i class="fa-solid fa-circle-down"></i></button>

        <button
          type="button"
          class="btn-group btn-delete-comment btn btn-outline-dark"
        ><i class="fa-solid fa-trash-can"></i></button>
      </div>
    </div>
  </div>
</div>